---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Custom Blue Style.
$global-font-family: 'Source Sans Pro', sans-serif !important;
$link-color: #FF5370;
/*************************************************
    syntax highlighting ($base16)
*************************************************/
$base00: #292D3E;
$base01: #444267;
$base02: #32374D;
$base03: #676E95;
$base04: #8796B0;
$base05: #959DCB;
$base06: #959DCB;
$base07: #FFFFFF;
$base08: #F07178;
$base09: #F78C6C;
$base0A: #FFCB6B;
$base0B: #C3E88D;
$base0C: #89DDFF;
$base0D: #82AAFF;
$base0E: #C792EA;
$base0F: #FF5370;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 20px;
}

/*************************
    TOC sidebar 
*************************/
.svg-inline--fa {
    margin-right: 5px;
}

.nav__title {
    visibility: hidden;
}

.toc .nav__title {
    background: none;
    color: #6f777d;
}

.toc {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.toc__menu a {
    border: none;
}

.toc .active a {
    background-color: transparent;
    border-left: 2px solid $link-color;
    color: $link-color;
}

.italic-red-text {
    color: #fd4445;
    font-weight: 600;
    font-style: normal;
}