---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Custom Blue Style.
$global-font-family: 'Source Sans Pro', sans-serif !important;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
}

/*************************
    TOC sidebar 
*************************/
.svg-inline--fa {
    margin-right: 5px;
}

.nav__title {
    visibility: hidden;
}

.toc .nav__title {
    background: none;
    color: #6f777d;
}

.toc {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.toc__menu a {
    border: none;
}

.toc .active a {
    background-color: transparent;
    border-left: 2px solid $link-color;
    color: $link-color;
}

.italic-red-text {
    color: #fd4445;
    font-weight: 600;
    font-style: normal;
}

/*************************
    Notice 
*************************/
.notice--info {
    background-color: #FFCC00;
    color: #212A31;

    a {
        color: #212A31 !important;
    }

    strong, em {
        color: #212A31;
    }

    strong a {
        color: #212A31;
    }

    code {
        background: #212A31;
    }
}


/*************************
    Avatar
*************************/


/*************************
    Code Block
*************************/