---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Custom Blue Style.
$global-font-family: "Source Sans Pro", sans-serif !important;
$link-color: #2980B9;
$highlighted-color: #E74C3C;
$blue: #2980B9;
$light-blue: #EBF5FB;
$red: #E74C3C;
$light-red: #FDEDEC;
$dark-gray: #34495E;
/*************************************************
    syntax highlighting ($base16)
*************************************************/
$base00: #232031;
$base01: #444267;
$base02: #32374d;
$base03: #676e95;
$base04: #8796b0;
$base05: #959dcb;
$base06: #959dcb;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0A: #ffcb6b;
$base0B: #c3e88d;
$base0C: #89ddff;
$base0D: #82aaff;
$base0E: #c792ea;
$base0F: #ff5370;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*************************
    Global
*************************/
body {
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}

a {
  text-decoration: none !important;
}

/*************************
    TOC sidebar 
*************************/
.svg-inline--fa {
  margin-right: 5px;
}

.nav__title {
  visibility: hidden;
}

.toc .nav__title {
  background: none;
  color: #6f777d;
}

.toc {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.toc__menu a {
  border: none;
}

.toc .active a {
  background-color: transparent;
  border-left: 2px solid $link-color;
  color: $link-color;
}

// Can be used to highlight a word as well, e.g. *word*{: .italic-red-text }
.italic-red-text {
  color: $highlighted-color;
  font-weight: 600;
  font-style: normal;
}

.italic-violet-text {
  color: #8E44AD;
  font-weight: 600;
  font-style: normal;
}

/*************************
    Inline code
*************************/
code.highlighter-rouge {
  background-color: #f2f3f4;
}

/*************************
    Block code
*************************/
div.highlighter-rouge {
  padding-top: 30px;
}

div.highlighter-rouge::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #3c3d58;
  color: #c2c3c4;
  width: 100%;
  line-height: 0;
  padding: 14px 0 10px 0;
  font-size: 0.65rem;
  text-indent: 7px;
  letter-spacing: 4px;
  border-radius: 4px;
}

tt,code,kbd,samp,pre {
  font-family: SFMono-Regular,Menlo,monospace;
}

.language-bash .highlight {
  color: white;
}

.language-bash .highlight .nv {
  color: white;
}

/*************************
    Blockquote
*************************/
blockquote {
  border-left-color: $dark-gray;
}

/*************************
    Notices
*************************/
// carriage return after the title of the notice
p strong:first-child {
  display: block;
  margin-bottom: 0.7em;
}

// colors from https://htmlcolorcodes.com/

.notice--primary {
  background-color: #e5e7e9;
  font-size: 0.9em !important;

  code {
    background-color: #f2f3f4;
  }

  a {
    color: #a6acaf;
  }
}

.notice--internal {
  @extend .notice;
  background-color: #d2b4de;
  font-size: 0.9em !important;

  code {
    background-color: #e8daef;
  }

  a {
    color: #7d3c98;
  }
}

.notice--info {
  border-left: 8px solid $blue;
  background-color: $light-blue;
  font-size: 0.9em !important;
  box-shadow: none;
  border-radius: 0px;

  code {
    background-color: #d6eaf8;
  }

  a {
    color: $blue;
  }

  strong:first-child {
    color: $blue;
  }
}

.notice--warning {
  border-left: 8px solid #F1C40F;
  background-color: #FCF3CF;
  font-size: 0.9em !important;
  box-shadow: none;
  border-radius: 0px;

  code {
    background-color: #fcf3cf;
  }

  a {
    color: #d4ac0d;
  }

  strong:first-child {
    color: #d4ac0d;
  }
}

.notice--success {
  background-color: #a2d9ce;
  font-size: 0.9em !important;
  box-shadow: none;
  border-radius: 0px;

  code {
    background-color: #d0ece7;
  }

  a {
    color: #28b463;
  }
}

.notice--danger {
  border-left: 8px solid $red;
  background-color: $light-red;
  font-size: 0.9em !important;
  box-shadow: none;
  border-radius: 0px;

  code {
    background-color: #f5b7b1;
  }

  a {
    color: #cb4335;
  }
}
